<a-entity test-page>
    <a-sphere color="red" opacity="0.8" depth="2" position="0 1 -8"></a-sphere>
    <a-sky color="blue">
        <a-animation attribute="color" from="blue" to="purple"></a-animation>
    </a-sky>
</a-entity>