<a-assets>
    <img id="sky" src="./images/vrmenu/menu-sky.jpg">
    <img id="feature1" src="./images/vrmenu/1-min.png">
    <img id="feature2" src="./images/vrmenu/2-min.png">
    <img id="feature3" src="./images/vrmenu/3-min.png">
    <img id="feature4" src="./images/vrmenu/4-min.png">
    <img id="feature5" src="./images/vrmenu/5-min.png">
    <img id="feature6" src="./images/vrmenu/6-min.png">
    <img id="feature7" src="./images/vrmenu/7-min.png">
    <img id="feature8" src="./images/vrmenu/8-min.png">
    <img id="feature9" src="./images/vrmenu/9-min.png">
    <img id="feature10" src="./images/vrmenu/10-min.png">
</a-assets>
<a-entity id="menu-page" menu-page>
    <a-circle id="vive-hotspot" color="yellow" radius=".5" position="6.5 1 -3" look-at="src:#camera" opacity=".5">
        <a-animation attribute="radius" from=".5" to=".2" dur="1000" repeat="indefinite" direction="reverse"></a-animation>
    </a-circle>
    <a-sky src='#sky' opacity='0'>
        <a-animation attribute="opacity" from="0" to="1"></a-animation>
    </a-sky>
</a-entity>
