<a-assets>
    <img id="sky" src="./images/vrproduct/vive-sky.jpg">
    <img id="production1-info1" src="./images/vrproduct/price.png">
    <img id="production1-info2" src="./images/vrproduct/price2.png">
    <img id="production1-info3" src="./images/vrproduct/price1.png">
    <img id="target" src="./images/vrproduct/target.png">
    <img id="cursorImg" src="./images/vrproduct/cursor.png">
    <img id="close" src="./images/vrproduct/close.png">
    <img id="close_hover" src="./images/vrproduct/close_hover.png">
    <img id="up" src="./images/vrproduct/up.png">
    <img id="up_hover" src="./images/vrproduct/up_hover.png">
    <img id="down" src="./images/vrproduct/down.png">
    <img id="down_hover" src="./images/vrproduct/down_hover.png">
    <img id="left" src="./images/vrproduct/left.png">
    <img id="left_hover" src="./images/vrproduct/left_hover.png">
    <img id="right" src="./images/vrproduct/right.png">
    <img id="right_hover" src="./images/vrproduct/right_hover.png">
    <a-asset-item id="crate-obj" src="./images/vrproduct/objects/professionstone/professionstone.obj"></a-asset-item>
    <a-asset-item id="crate-mtl" src="./images/vrproduct/objects/professionstone/professionstone.mtl"></a-asset-item>
    <script id="product" type="text/html">
        <a-entity position="0 0 0" rotation="${wholeRotation}" product-component>
            <a-image src="#target" height="1.2" width="1.6" position="${targetPosition}" look-at="src:#camera"></a-image>
            <a-obj-model src="#crate-obj" mtl="#crate-mtl" rotation="0 0 0" scale="0.15 0.15 0.15" position="${objPosition}" visible="${visible}" look-controls="enabled: false">
            </a-obj-model>
            <a-image src="#close" opacity="0.8" height="2" width="2" position="${closePosition}" look-at="src:#camera" visible="${visible}"></a-image>
            <a-image src="#production1-info2" height="3" width="5.1" position="${info1Position}" look-at="src:#camera" visible="${visible}"></a-image>
            <a-image src="#production1-info1" height="3" width="5.1" position="${info2Position}" look-at="src:#camera" visible="${visible}"></a-image>
            <a-image src="#production1-info3" height="3" width="5.1" position="${info3Position}" look-at="src:#camera" visible="${visible}"></a-image>
            <a-entity layout="type: line; margin: 1.2" position="${directionsPosition}" rotation="${directionsRotation}" visible="${visible}">
                <a-image src="#left"></a-image>
                <a-image src="#up"></a-image>
                <a-image src="#down"></a-image>
                <a-image src="#right"></a-image>
            </a-entity>
        </a-entity>
    </script>
</a-assets>
<a-entity id="product-page" product-page>
    <!-- sky environment -->
    <a-sky id="shop-sky" src="#sky">
        <a-animation attribute="opacity" from="0" to="1"></a-animation>
    </a-sky>
    <!-- product one -->
    <a-entity template="src: #product" data-whole-rotation="0 70 0" data-target-position="-5 2 -3.1" data-obj-position="-8.8 2.5 -5.3" data-close-position="-8 -3.2 -4.7" data-info1-position="-9.4 2.2 0.5" data-info2-position="-4.2 4 -9.2" data-info3-position="-4.2 0.4 -9.2" data-directions-position="-9 -1 -3.2" data-directions-rotation="0 60.16 0" data-visible="false"></a-entity>
    <!-- product two -->
    <a-entity template="src: #product" data-whole-rotation="0 -70 0" data-target-position="-5 2 -3.1" data-obj-position="-8.8 2.5 -5.3" data-close-position="-8 -3.2 -4.7" data-info1-position="-9.4 2.2 0.5" data-info2-position="-4.2 4 -9.2" data-info3-position="-4.2 0.4 -9.2" data-directions-position="-9 -1 -3.2" data-directions-rotation="0 60.16 0" data-visible="false"></a-entity>
    <a-circle id="it-hotspot" color="yellow" radius=".5" position="1.5 1 6.5" look-at="src:#camera" opacity=".5">
        <a-animation attribute="radius" from=".5" to=".2" dur="1000" repeat="indefinite" direction="reverse"></a-animation>
    </a-circle>
    <!-- camera entity -->
</a-entity>
